<a href="https://colab.research.google.com/github/NaufalYogaPratama/data-analysis-submission/blob/main/BikeSharingAnalysis.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Proyek Analisis Data: Bike Sharing Dataset
- **Nama:** Naufal Yoga Pratama
- **Email:** naufalpratama2113@gmail.com
- **ID Dicoding:** Naufal Yoga Pratama

## Menentukan Pertanyaan Bisnis

- Bagaimana pola penggunaan sepeda berdasarkan musim (season) dan hari kerja (workingday)?
- Apakah kondisi cuaca (weathersit) memiliki dampak signifikan terhadap jumlah penyewaan sepeda (casual dan registered)?
- Bagaimana tren jumlah penyewaan sepeda selama dua tahun terakhir (2011-2012)?
- Apakah ada jam tertentu yang menunjukkan lonjakan penyewaan sepeda (data hourly)?

## Import Semua Packages/Library yang Digunakan

In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

## Data Wrangling

### Gathering Data

In [6]:
# Memperoleh data dari day_csv
day_df = pd.read_csv("https://raw.githubusercontent.com/NaufalYogaPratama/data-analysis-submission/812a728ea76f5ada54e7164e561d807d315b7238/data/day.csv")
day_df.head()

,instant,dteday,season,yr,mnth,holiday,weekday,workingday,weathersit,temp,atemp,hum,windspeed,casual,registered,cnt
0,1,2011-01-01,1,0,1,0,6,0,2,0.344167,0.363625,0.805833,0.160446,331,654,985
1,2,2011-01-02,1,0,1,0,0,0,2,0.363478,0.353739,0.696087,0.248539,131,670,801
2,3,2011-01-03,1,0,1,0,1,1,1,0.196364,0.189405,0.437273,0.248309,120,1229,1349
3,4,2011-01-04,1,0,1,0,2,1,1,0.200000,0.212122,0.590435,0.160296,108,1454,1562
4,5,2011-01-05,1,0,1,0,3,1,1,0.226957,0.229270,0.436957,0.186900,82,1518,1600

In [8]:
from google.colab import sheets
sheet = sheets.InteractiveSheet(df=day_df)

https://docs.google.com/spreadsheets/d/1huWqc2VQ6oLQo_rJZRJqICHq2oe5dMrECytuuBd5a7k#gid=0

In [7]:
# Memperoleh data dari hour_csv
hour_df = pd.read_csv("https://raw.githubusercontent.com/NaufalYogaPratama/data-analysis-submission/812a728ea76f5ada54e7164e561d807d315b7238/data/hour.csv")
hour_df.head()

,instant,dteday,season,yr,mnth,hr,holiday,weekday,workingday,weathersit,temp,atemp,hum,windspeed,casual,registered,cnt
0,1,2011-01-01,1,0,1,0,0,6,0,1,0.24,0.2879,0.81,0.0,3,13,16
1,2,2011-01-01,1,0,1,1,0,6,0,1,0.22,0.2727,0.80,0.0,8,32,40
2,3,2011-01-01,1,0,1,2,0,6,0,1,0.22,0.2727,0.80,0.0,5,27,32
3,4,2011-01-01,1,0,1,3,0,6,0,1,0.24,0.2879,0.75,0.0,3,10,13
4,5,2011-01-01,1,0,1,4,0,6,0,1,0.24,0.2879,0.75,0.0,0,1,1

In [9]:
from google.colab import sheets
sheet = sheets.InteractiveSheet(df=hour_df)

https://docs.google.com/spreadsheets/d/1wDAZX0P2xS1ETy4gb6oy6MhwESqmoFW0onumAe7viL0#gid=0

**Insight:**
- (`day_df`) Dataset harian mencatat penggunaan sepeda berdasarkan musim, cuaca, dan hari kerja.
- (`day_df`) Kolom yang relevan untuk analisis: season, workingday, weathersit, cnt.
- (`hour_df`) Dataset per jam memberikan detail yang lebih granular tentang waktu puncak penggunaan sepeda.
- (`hour_df`) Kolom yang penting: hr, weathersit, temp, casual, registered, cnt.

### Assessing Data

#### Menilai tabel `day_df`

In [11]:
day_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 731 entries, 0 to 730
Data columns (total 16 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   instant     731 non-null    int64
 1   dteday      731 non-null    object
 2   season      731 non-null    int64
 3   yr          731 non-null    int64
 4   mnth        731 non-null    int64
 5   holiday     731 non-null    int64
 6   weekday     731 non-null    int64
 7   workingday  731 non-null    int64
 8   weathersit  731 non-null    int64
 9   temp        731 non-null    float64
 10  atemp       731 non-null    float64
 11  hum         731 non-null    float64
 12  windspeed   731 non-null    float64
 13  casual      731 non-null    int64
 14  registered  731 non-null    int64
 15  cnt         731 non-null    int64
dtypes: float64(4), int64(11), object(1)
memory usage: 91.5+ KB

In [13]:
day_df.describe()

,instant,season,yr,mnth,holiday,weekday,workingday,weathersit,temp,atemp,hum,windspeed,casual,registered,cnt
count,731.000000,731.000000,731.000000,731.000000,731.000000,731.000000,731.000000,731.000000,731.000000,731.000000,731.000000,731.000000,731.000000,731.000000,731.000000
mean,366.000000,2.496580,0.500684,6.519836,0.028728,2.997264,0.683995,1.395349,0.495385,0.474354,0.627894,0.190486,848.176471,3656.172367,4504.348837
std,211.165812,1.110807,0.500342,3.451913,0.167155,2.004787,0.465233,0.544894,0.183051,0.162961,0.142429,0.077498,686.622488,1560.256377,1937.211452
min,1.000000,1.000000,0.000000,1.000000,0.000000,0.000000,0.000000,1.000000,0.059130,0.079070,0.000000,0.022392,2.000000,20.000000,22.000000
25%,183.500000,2.000000,0.000000,4.000000,0.000000,1.000000,0.000000,1.000000,0.337083,0.337842,0.520000,0.134950,315.500000,2497.000000,3152.000000
50%,366.000000,3.000000,1.000000,7.000000,0.000000,3.000000,1.000000,1.000000,0.498333,0.486733,0.626667,0.180975,713.000000,3662.000000,4548.000000
75%,548.500000,3.000000,1.000000,10.000000,0.000000,5.000000,1.000000,2.000000,0.655417,0.608602,0.730209,0.233214,1096.000000,4776.500000,5956.000000
max,731.000000,4.000000,1.000000,12.000000,1.000000,6.000000,1.000000,3.000000,0.861667,0.840896,0.972500,0.507463,3410.000000,6946.000000,8714.000000

- Kolom `dteday` yang seharusnya berisi tanggal malah terbaca sebagai tipe data `object`
- Nilai minimum `humidity` (kelembapan) adalah 0, yang mungkin mengindikasikan adanya data yang tidak valid.

#### Menilai tabel `hour_df`

In [12]:
hour_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 17379 entries, 0 to 17378
Data columns (total 17 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   instant     17379 non-null  int64
 1   dteday      17379 non-null  object
 2   season      17379 non-null  int64
 3   yr          17379 non-null  int64
 4   mnth        17379 non-null  int64
 5   hr          17379 non-null  int64
 6   holiday     17379 non-null  int64
 7   weekday     17379 non-null  int64
 8   workingday  17379 non-null  int64
 9   weathersit  17379 non-null  int64
 10  temp        17379 non-null  float64
 11  atemp       17379 non-null  float64
 12  hum         17379 non-null  float64
 13  windspeed   17379 non-null  float64
 14  casual      17379 non-null  int64
 15  registered  17379 non-null  int64
 16  cnt         17379 non-null  int64
dtypes: float64(4), int64(12), object(1)
memory usage: 2.3+ MB

In [14]:
hour_df.describe()

,instant,season,yr,mnth,hr,holiday,weekday,workingday,weathersit,temp,atemp,hum,windspeed,casual,registered,cnt
count,17379.0000,17379.000000,17379.000000,17379.000000,17379.000000,17379.000000,17379.000000,17379.000000,17379.000000,17379.000000,17379.000000,17379.000000,17379.000000,17379.000000,17379.000000,17379.000000
mean,8690.0000,2.501640,0.502561,6.537775,11.546752,0.028770,3.003683,0.682721,1.425283,0.496987,0.475775,0.627229,0.190098,35.676218,153.786869,189.463088
std,5017.0295,1.106918,0.500008,3.438776,6.914405,0.167165,2.005771,0.465431,0.639357,0.192556,0.171850,0.192930,0.122340,49.305030,151.357286,181.387599
min,1.0000,1.000000,0.000000,1.000000,0.000000,0.000000,0.000000,0.000000,1.000000,0.020000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000
25%,4345.5000,2.000000,0.000000,4.000000,6.000000,0.000000,1.000000,0.000000,1.000000,0.340000,0.333300,0.480000,0.104500,4.000000,34.000000,40.000000
50%,8690.0000,3.000000,1.000000,7.000000,12.000000,0.000000,3.000000,1.000000,1.000000,0.500000,0.484800,0.630000,0.194000,17.000000,115.000000,142.000000
75%,13034.5000,3.000000,1.000000,10.000000,18.000000,0.000000,5.000000,1.000000,2.000000,0.660000,0.621200,0.780000,0.253700,48.000000,220.000000,281.000000
max,17379.0000,4.000000,1.000000,12.000000,23.000000,1.000000,6.000000,1.000000,4.000000,1.000000,1.000000,1.000000,0.850700,367.000000,886.000000,977.000000

- Kolom `dteday` yang seharusnya berisi tanggal malah terbaca sebagai tipe data `object`
- Nilai minimum `humidity` (kelembapan) dan `windspeed` adalah 0, yang mungkin mengindikasikan adanya data yang tidak valid.

**Insight:**
- (`day_df`) Kolom `dteday` yang seharusnya berisi tanggal malah terbaca sebagai tipe data object
- (`day_df`) Nilai minimum `humidity` (kelembapan) adalah 0, yang mungkin mengindikasikan adanya data yang tidak valid.
- (`hour_df`) Kolom `dteday` yang seharusnya berisi tanggal malah terbaca sebagai tipe data object
- (`hour_df`) Nilai minimum `humidity` (kelembapan) dan `windspeed` adalah 0, yang mungkin mengindikasikan adanya data yang tidak valid.

### Cleaning Data

#### Membersihkan tabel `day_df`

##### Memperbaiki tipe data

In [15]:
day_df['dteday'] = pd.to_datetime(day_df['dteday'])

In [16]:
day_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 731 entries, 0 to 730
Data columns (total 16 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   instant     731 non-null    int64
 1   dteday      731 non-null    datetime64[ns]
 2   season      731 non-null    int64
 3   yr          731 non-null    int64
 4   mnth        731 non-null    int64
 5   holiday     731 non-null    int64
 6   weekday     731 non-null    int64
 7   workingday  731 non-null    int64
 8   weathersit  731 non-null    int64
 9   temp        731 non-null    float64
 10  atemp       731 non-null    float64
 11  hum         731 non-null    float64
 12  windspeed   731 non-null    float64
 13  casual      731 non-null    int64
 14  registered  731 non-null    int64
 15  cnt         731 non-null    int64
dtypes: datetime64[ns](1), float64(4), int64(11)
memory usage: 91.5 KB

##### Inaccurate Value

In [18]:
day_df[day_df.hum == day_df.hum.min()]

,instant,dteday,season,yr,mnth,holiday,weekday,workingday,weathersit,temp,atemp,hum,windspeed,casual,registered,cnt
68,69,2011-03-10,1,0,3,0,4,1,3,0.389091,0.385668,0.0,0.261877,46,577,623

In [21]:
day_df[day_df['hum'] == 0][['dteday', 'hum', 'cnt']]

       dteday  hum  cnt
68 2011-03-10  0.0  623

In [22]:
# Hapus baris yang memiliki nilai 0 pada kolom hum
day_df = day_df[day_df['hum'] != 0]

Menghapus baris tersebut karena hanya ada satu data yang memiliki nilai 0 pada kolom hum, dan data tersebut tidak terlalu penting.

In [23]:
day_df[day_df.hum == day_df.hum.min()]

,instant,dteday,season,yr,mnth,holiday,weekday,workingday,weathersit,temp,atemp,hum,windspeed,casual,registered,cnt
49,50,2011-02-19,1,0,2,0,6,0,1,0.399167,0.391404,0.187917,0.507463,532,1103,1635

#### Memperbaiki tabel `hour_df`

##### Memperbaiki tipe data

In [24]:
hour_df['dteday'] = pd.to_datetime(hour_df['dteday'])

In [25]:
hour_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 17379 entries, 0 to 17378
Data columns (total 17 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   instant     17379 non-null  int64
 1   dteday      17379 non-null  datetime64[ns]
 2   season      17379 non-null  int64
 3   yr          17379 non-null  int64
 4   mnth        17379 non-null  int64
 5   hr          17379 non-null  int64
 6   holiday     17379 non-null  int64
 7   weekday     17379 non-null  int64
 8   workingday  17379 non-null  int64
 9   weathersit  17379 non-null  int64
 10  temp        17379 non-null  float64
 11  atemp       17379 non-null  float64
 12  hum         17379 non-null  float64
 13  windspeed   17379 non-null  float64
 14  casual      17379 non-null  int64
 15  registered  17379 non-null  int64
 16  cnt         17379 non-null  int64
dtypes: datetime64[ns](1), float64(4), int64(12)
memory usage: 2.3 MB

##### Inaccurate Value

In [27]:
hour_df.min()

instant                         1
dteday        2011-01-01 00:00:00
season                          1
yr                              0
mnth                            1
hr                              0
holiday                         0
weekday                         0
workingday                      0
weathersit                      1
temp                         0.02
atemp                         0.0
hum                           0.0
windspeed                     0.0
casual                          0
registered                      0
cnt                             1
dtype: object

In [29]:
hour_df[hour_df['hum'] == 0][['dteday', 'hum', 'windspeed','cnt']]

         dteday  hum  windspeed  cnt
1551 2011-03-10  0.0     0.2537    3
1552 2011-03-10  0.0     0.2537    2
1553 2011-03-10  0.0     0.2537    1
1554 2011-03-10  0.0     0.1940    3
1555 2011-03-10  0.0     0.3284   12
1556 2011-03-10  0.0     0.2239   37
1557 2011-03-10  0.0     0.2836   44
1558 2011-03-10  0.0     0.2239   24
1559 2011-03-10  0.0     0.1642   17
1560 2011-03-10  0.0     0.2537   11
1561 2011-03-10  0.0     0.2239   34
1562 2011-03-10  0.0     0.2239   12
1563 2011-03-10  0.0     0.2985   12
1564 2011-03-10  0.0     0.2239   14
1565 2011-03-10  0.0     0.2537   21
1566 2011-03-10  0.0     0.3881  111
1567 2011-03-10  0.0     0.3582   82
1568 2011-03-10  0.0     0.5821   56
1569 2011-03-10  0.0     0.3284   38
1570 2011-03-10  0.0     0.2239   28
1571 2011-03-10  0.0     0.1343   34
1572 2011-03-10  0.0     0.0896   27

In [30]:
hour_df[hour_df['windspeed'] == 0][['dteday', 'hum', 'windspeed','cnt']]

          dteday   hum  windspeed  cnt
0     2011-01-01  0.81        0.0   16
1     2011-01-01  0.80        0.0   40
2     2011-01-01  0.80        0.0   32
3     2011-01-01  0.75        0.0   13
4     2011-01-01  0.75        0.0    1
...          ...   ...        ...  ...
17319 2012-12-29  1.00        0.0   48
17320 2012-12-29  1.00        0.0   84
17322 2012-12-29  0.87        0.0  129
17330 2012-12-29  0.60        0.0   32
17350 2012-12-30  0.61        0.0  102

[2180 rows x 4 columns]

In [40]:
# Imputasi dengan rata-rata harian untuk humidity
mean_hum_10Mar2011 = hour_df[(hour_df['dteday'] == '2011-03-10') & (hour_df['hum'] != 0)]['hum'].mean()
hour_df.loc[(hour_df['dteday'] == '2011-03-10') & (hour_df['hum'] == 0), 'hum'] = mean_hum_10Mar2011

In [39]:
hour_df[hour_df.hum == hour_df.hum.min()]

,instant,dteday,season,yr,mnth,hr,holiday,weekday,workingday,weathersit,temp,atemp,hum,windspeed,casual,registered,cnt
1109,1110,2011-02-18,1,0,2,23,0,5,1,1.0,0.52,0.5,0.08,0.2836,16,61,77

In [ ]:
from sklearn.neighbors import KNeighborsRegressor

# Buat model KNN Regression
model = KNeighborsRegressor(n_neighbors=5)

# Pisahkan data dengan dan tanpa nilai windspeed 0
data_with_0 = hour_df[hour_df['windspeed'] == 0]
data_without_0 = hour_df[hour_df['windspeed'] != 0]

# Latih model dengan data tanpa nilai 0
model.fit(data_without_0[['temp', 'hum', 'weathersit']], data_without_0['windspeed'])

# Prediksi nilai windspeed untuk data dengan nilai 0
predicted_windspeed = model.predict(data_with_0[['temp', 'hum', 'weathersit']])

# Ganti nilai 0 dengan nilai yang diprediksi
hour_df.loc[hour_df['windspeed'] == 0, 'windspeed'] = predicted_windspeed

Mengganti inaccurate value pada kolom `windspeed` dengan model KKN Regression

In [52]:
hour_df[hour_df.windspeed == hour_df.windspeed.min()]

,instant,dteday,season,yr,mnth,hr,holiday,weekday,workingday,weathersit,temp,atemp,hum,windspeed,casual,registered,cnt
5,6,2011-01-01,1,0,1,5,0,6,0,2.0,0.24,0.2576,0.75,0.0896,0,1,1
72,73,2011-01-04,1,0,1,4,0,2,1,1.0,0.14,0.1818,0.63,0.0896,0,2,2
90,91,2011-01-04,1,0,1,22,0,2,1,1.0,0.22,0.2576,0.64,0.0896,1,34,35
91,92,2011-01-04,1,0,1,23,0,2,1,1.0,0.20,0.2273,0.69,0.0896,2,9,11
93,94,2011-01-05,1,0,1,1,0,3,1,1.0,0.16,0.1970,0.74,0.0896,0,6,6
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
17311,17312,2012-12-29,1,1,12,4,0,6,0,2.0,0.24,0.2424,0.75,0.0896,0,3,3
17312,17313,2012-12-29,1,1,12,5,0,6,0,2.0,0.24,0.2424,0.75,0.0896,0,3,3
17318,17319,2012-12-29,1,1,12,11,0,6,0,3.0,0.20,0.2424,0.93,0.0896,7,38,45
17321,17322,2012-12-29,1,1,12,14,0,6,0,2.0,0.24,0.2424,0.87,0.0896,10,88,98
17372,17373,2012-12-31,1,1,12,17,0,1,1,2.0,0.26,0.2879,0.48,0.0896,14,150,164

**Insight:**
- (`day_df`) Mengubah tipe data `dteday` menjadi datetime untuk analisis data yang berhubungan dengan waktu.
- (`day_df`) Inaccurate value pada kolom `hum` dihapus
- (`hour_df`) Mengubah tipe data `dteday` menjadi datetime untuk analisis data yang berhubungan dengan waktu.
- (`hour_df`) Terdapat inaccurate value pada kolom hum dan windspeed menggunakan metode Interpolasi pada kolom hum dan menggunakan dengan model KKN Regression

## Exploratory Data Analysis (EDA)

### Explore `day_df`

In [55]:
day_df.sample(5)

,instant,dteday,season,yr,mnth,holiday,weekday,workingday,weathersit,temp,atemp,hum,windspeed,casual,registered,cnt
295,296,2011-10-23,4,0,10,0,0,0,1,0.421667,0.422333,0.741250,0.099513,1619,2762,4381
176,177,2011-06-26,3,0,6,0,0,0,1,0.680000,0.637629,0.513333,0.094533,1920,3385,5305
274,275,2011-10-02,4,0,10,0,0,0,2,0.356667,0.345317,0.791667,0.222013,616,2302,2918
444,445,2012-03-20,1,1,3,0,2,1,1,0.560833,0.538533,0.807917,0.121271,1051,5042,6093
296,297,2011-10-24,4,0,10,0,1,1,1,0.463333,0.457067,0.772083,0.118792,699,3488,4187

In [57]:
day_df.describe(include="all")

,instant,dteday,season,yr,mnth,holiday,weekday,workingday,weathersit,temp,atemp,hum,windspeed,casual,registered,cnt
count,730.000000,730,730.000000,730.000000,730.000000,730.000000,730.000000,730.000000,730.000000,730.000000,730.000000,730.000000,730.000000,730.000000,730.000000,730.000000
mean,366.406849,2012-01-01 09:45:51.780822016,2.498630,0.501370,6.524658,0.028767,2.995890,0.683562,1.393151,0.495530,0.474475,0.628754,0.190388,849.275342,3660.390411,4509.665753
min,1.000000,2011-01-01 00:00:00,1.000000,0.000000,1.000000,0.000000,0.000000,0.000000,1.000000,0.059130,0.079070,0.187917,0.022392,2.000000,20.000000,22.000000
25%,184.250000,2011-07-03 06:00:00,2.000000,0.000000,4.000000,0.000000,1.000000,0.000000,1.000000,0.336875,0.337794,0.520521,0.134950,316.250000,2502.250000,3169.750000
50%,366.500000,2012-01-01 12:00:00,3.000000,1.000000,7.000000,0.000000,3.000000,1.000000,1.000000,0.499167,0.487364,0.627083,0.180971,717.000000,3664.500000,4548.500000
75%,548.750000,2012-07-01 18:00:00,3.000000,1.000000,10.000000,0.000000,5.000000,1.000000,2.000000,0.655625,0.608916,0.730313,0.233207,1096.500000,4783.250000,5966.000000
max,731.000000,2012-12-31 00:00:00,4.000000,1.000000,12.000000,1.000000,6.000000,1.000000,3.000000,0.861667,0.840896,0.972500,0.507463,3410.000000,6946.000000,8714.000000
std,211.023699,NaN,1.110184,0.500341,3.451815,0.167266,2.005817,0.465405,0.542015,0.183134,0.163040,0.140614,0.077506,686.449738,1557.149836,1933.194931

In [54]:
# Rata-rata penyewaan berdasarkan musim
season_usage = day_df.groupby('season')['cnt'].mean()
print("Rata-rata penyewaan sepeda berdasarkan musim:")
print(season_usage)

Rata-rata penyewaan sepeda berdasarkan musim:
season
1    2615.138889
2    4992.331522
3    5644.303191
4    4728.162921
Name: cnt, dtype: float64

In [58]:
# Rata-rata penyewaan berdasarkan hari kerja
workingday_usage = day_df.groupby('workingday')['cnt'].mean()
print("\nRata-rata penyewaan sepeda berdasarkan hari kerja:")
print(workingday_usage)

Rata-rata penyewaan sepeda berdasarkan hari kerja:
workingday
0    4330.168831
1    4592.759519
Name: cnt, dtype: float64

In [60]:
# Rata-rata penyewaan berdasarkan kondisi cuaca
weather_usage = day_df.groupby('weathersit')[['cnt', 'casual', 'registered']].mean()
print("\nRata-rata penyewaan sepeda berdasarkan kondisi cuaca:")
print(weather_usage)

Rata-rata penyewaan sepeda berdasarkan kondisi cuaca:
                    cnt      casual   registered
weathersit
1           4876.786177  964.030238  3912.755940
2           4035.862348  687.352227  3348.510121
3           1862.300000  192.450000  1669.850000

In [62]:
# Total penyewaan per hari
print("\nCuplikan data tren penyewaan sepeda per hari:")
print(day_df[['dteday', 'cnt']].head())

Cuplikan data tren penyewaan sepeda per hari:
      dteday   cnt
0 2011-01-01   985
1 2011-01-02   801
2 2011-01-03  1349
3 2011-01-04  1562
4 2011-01-05  1600

In [64]:
# Rata-rata penyewaan berdasarkan tahun dan bulan
monthly_usage = day_df.groupby(['yr', 'mnth'])['cnt'].mean().reset_index()
print("\nRata-rata penyewaan sepeda per bulan:")
print(monthly_usage)

Rata-rata penyewaan sepeda per bulan:
    yr  mnth          cnt
0    0     1  1231.903226
1    0     2  1721.964286
2    0     3  2114.066667
3    0     4  3162.333333
4    0     5  4381.322581
5    0     6  4783.733333
6    0     7  4559.387097
7    0     8  4409.387097
8    0     9  4247.266667
9    0    10  3984.225806
10   0    11  3405.566667
11   0    12  2816.870968
12   1     1  3120.774194
13   1     2  3556.448276
14   1     3  5318.548387
15   1     4  5807.466667
16   1     5  6318.225806
17   1     6  6761.000000
18   1     7  6567.967742
19   1     8  6919.451613
20   1     9  7285.766667
21   1    10  6414.225806
22   1    11  5088.800000
23   1    12  3990.741935

### Explore `hour_df`

In [66]:
# Rata-rata penyewaan hourly berdasarkan kondisi cuaca
hourly_weather_usage = hour_df.groupby('weathersit')[['cnt', 'casual', 'registered']].mean()
print("\nRata-rata penyewaan sepeda per jam berdasarkan kondisi cuaca:")
print(hourly_weather_usage)

Rata-rata penyewaan sepeda per jam berdasarkan kondisi cuaca:
                   cnt     casual  registered
weathersit
1.0         204.869272  40.545431  164.323841
2.0         175.165493  29.595290  145.570202
3.0         111.579281  16.055673   95.523608
4.0          74.333333   2.666667   71.666667

In [67]:
# Rata-rata penyewaan berdasarkan jam
hourly_usage = hour_df.groupby('hr')['cnt'].mean()
print("\nRata-rata penyewaan sepeda berdasarkan jam:")
print(hourly_usage)

Rata-rata penyewaan sepeda berdasarkan jam:
hr
0      53.898072
1      33.375691
2      22.869930
3      11.727403
4       6.352941
5      19.889819
6      76.044138
7     212.064649
8     359.011004
9     219.309491
10    173.668501
11    208.143054
12    253.315934
13    253.661180
14    240.949246
15    251.233196
16    311.983562
17    461.452055
18    425.510989
19    311.523352
20    226.030220
21    172.314560
22    131.335165
23     87.831044
Name: cnt, dtype: float64

In [69]:
# Penyewaan berdasarkan jam dan hari
weekday_hourly_usage = hour_df.groupby(['weekday', 'hr'])['cnt'].mean().unstack()
print("\nPola penyewaan sepeda berdasarkan hari dan jam:")
print(weekday_hourly_usage)

Pola penyewaan sepeda berdasarkan hari dan jam:
hr              0          1          2          3         4          5   \
weekday
0        93.990385  77.432692  61.627451  31.144231  9.362745   8.693878
1        34.009524  17.307692  10.313131   5.113402  5.785714  21.653846
2        27.623762  12.540000   6.801980   4.152174  5.131313  24.455446
3        34.557692  15.336538   7.813725   4.888889  4.968750  25.750000
4        39.271845  17.223301   9.156863   5.071429  5.280000  25.912621
5        52.432692  24.721154  12.740385   6.598039  6.072165  23.903846
6        94.304762  67.780952  50.495238  22.885714  7.657143   8.291262

hr               6           7           8           9   ...          14  \
weekday                                                  ...
0         14.495146   33.104762   83.857143  156.542857  ...  363.628571
1         85.865385  248.538462  412.192308  218.442308  ...  192.701923
2        106.500000  299.696078  471.784314  236.450980  ...  168.365385
3        107.807692  303.980769  488.326923  238.528846  ...  170.548077
4        107.436893  304.737864  488.572816  240.873786  ...  177.563107
5         90.028846  254.326923  462.278846  258.990385  ...  229.365385
6         21.000000   45.961905  114.476190  186.790476  ...  381.333333

hr               15          16          17          18          19  \
weekday
0        353.933333  355.400000  318.771429  272.628571  225.476190
1        202.365385  284.451923  502.394231  481.346154  344.576923
2        186.903846  286.701923  544.278846  517.567308  353.923077
3        181.288462  272.961538  513.144231  494.029126  357.504854
4        196.475728  286.298077  527.346154  502.096154  358.451923
5        252.461538  330.990385  492.413462  420.990385  302.067308
6        382.428571  366.142857  334.409524  292.048077  239.932692

hr               20          21          22          23
weekday
0        168.028571  127.647619   94.123810   61.895238
1        242.076923  174.538462  115.759615   65.403846
2        253.192308  186.230769  132.278846   76.173077
3        256.660194  194.669903  143.689320   83.737864
4        268.913462  197.884615  147.240385   96.750000
5        213.326923  169.875000  147.067308  115.211538
6        180.865385  156.000000  139.663462  115.855769

[7 rows x 24 columns]

**Insight:**
- xxx
- xxx

## Visualization & Explanatory Analysis

### Pertanyaan 1:

### Pertanyaan 2:

**Insight:**
- xxx
- xxx

## Analisis Lanjutan (Opsional)

## Conclusion

- Conclution pertanyaan 1
- Conclution pertanyaan 2