<a href="https://colab.research.google.com/github/NaufalYogaPratama/data-analysis-submission/blob/main/BikeSharingAnalysis.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Proyek Analisis Data: Bike Sharing Dataset
- **Nama:** Naufal Yoga Pratama
- **Email:** naufalpratama2113@gmail.com
- **ID Dicoding:** Naufal Yoga Pratama

## Menentukan Pertanyaan Bisnis

- Bagaimana pola penggunaan sepeda berdasarkan musim (season) dan hari kerja (workingday)?
- Apakah kondisi cuaca (weathersit) memiliki dampak signifikan terhadap jumlah penyewaan sepeda (casual dan registered)?
- Bagaimana tren jumlah penyewaan sepeda selama dua tahun terakhir (2011-2012)?
- Apakah ada jam tertentu yang menunjukkan lonjakan penyewaan sepeda (data hourly)?

## Import Semua Packages/Library yang Digunakan

In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

## Data Wrangling

### Gathering Data

In [6]:
# Memperoleh data dari day_csv
day_df = pd.read_csv("https://raw.githubusercontent.com/NaufalYogaPratama/data-analysis-submission/812a728ea76f5ada54e7164e561d807d315b7238/data/day.csv")
day_df.head()

,instant,dteday,season,yr,mnth,holiday,weekday,workingday,weathersit,temp,atemp,hum,windspeed,casual,registered,cnt
0,1,2011-01-01,1,0,1,0,6,0,2,0.344167,0.363625,0.805833,0.160446,331,654,985
1,2,2011-01-02,1,0,1,0,0,0,2,0.363478,0.353739,0.696087,0.248539,131,670,801
2,3,2011-01-03,1,0,1,0,1,1,1,0.196364,0.189405,0.437273,0.248309,120,1229,1349
3,4,2011-01-04,1,0,1,0,2,1,1,0.200000,0.212122,0.590435,0.160296,108,1454,1562
4,5,2011-01-05,1,0,1,0,3,1,1,0.226957,0.229270,0.436957,0.186900,82,1518,1600

In [8]:
from google.colab import sheets
sheet = sheets.InteractiveSheet(df=day_df)

https://docs.google.com/spreadsheets/d/1huWqc2VQ6oLQo_rJZRJqICHq2oe5dMrECytuuBd5a7k#gid=0

In [7]:
# Memperoleh data dari hour_csv
hour_df = pd.read_csv("https://raw.githubusercontent.com/NaufalYogaPratama/data-analysis-submission/812a728ea76f5ada54e7164e561d807d315b7238/data/hour.csv")
hour_df.head()

,instant,dteday,season,yr,mnth,hr,holiday,weekday,workingday,weathersit,temp,atemp,hum,windspeed,casual,registered,cnt
0,1,2011-01-01,1,0,1,0,0,6,0,1,0.24,0.2879,0.81,0.0,3,13,16
1,2,2011-01-01,1,0,1,1,0,6,0,1,0.22,0.2727,0.80,0.0,8,32,40
2,3,2011-01-01,1,0,1,2,0,6,0,1,0.22,0.2727,0.80,0.0,5,27,32
3,4,2011-01-01,1,0,1,3,0,6,0,1,0.24,0.2879,0.75,0.0,3,10,13
4,5,2011-01-01,1,0,1,4,0,6,0,1,0.24,0.2879,0.75,0.0,0,1,1

In [9]:
from google.colab import sheets
sheet = sheets.InteractiveSheet(df=hour_df)

https://docs.google.com/spreadsheets/d/1wDAZX0P2xS1ETy4gb6oy6MhwESqmoFW0onumAe7viL0#gid=0

**Insight:**
- (`day_df`) Dataset harian mencatat penggunaan sepeda berdasarkan musim, cuaca, dan hari kerja.
- (`day_df`) Kolom yang relevan untuk analisis: season, workingday, weathersit, cnt.
- (`hour_df`) Dataset per jam memberikan detail yang lebih granular tentang waktu puncak penggunaan sepeda.
- (`hour_df`) Kolom yang penting: hr, weathersit, temp, casual, registered, cnt.

### Assessing Data

#### Menilai tabel `day_df`

In [11]:
day_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 731 entries, 0 to 730
Data columns (total 16 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   instant     731 non-null    int64
 1   dteday      731 non-null    object
 2   season      731 non-null    int64
 3   yr          731 non-null    int64
 4   mnth        731 non-null    int64
 5   holiday     731 non-null    int64
 6   weekday     731 non-null    int64
 7   workingday  731 non-null    int64
 8   weathersit  731 non-null    int64
 9   temp        731 non-null    float64
 10  atemp       731 non-null    float64
 11  hum         731 non-null    float64
 12  windspeed   731 non-null    float64
 13  casual      731 non-null    int64
 14  registered  731 non-null    int64
 15  cnt         731 non-null    int64
dtypes: float64(4), int64(11), object(1)
memory usage: 91.5+ KB

In [13]:
day_df.describe()

,instant,season,yr,mnth,holiday,weekday,workingday,weathersit,temp,atemp,hum,windspeed,casual,registered,cnt
count,731.000000,731.000000,731.000000,731.000000,731.000000,731.000000,731.000000,731.000000,731.000000,731.000000,731.000000,731.000000,731.000000,731.000000,731.000000
mean,366.000000,2.496580,0.500684,6.519836,0.028728,2.997264,0.683995,1.395349,0.495385,0.474354,0.627894,0.190486,848.176471,3656.172367,4504.348837
std,211.165812,1.110807,0.500342,3.451913,0.167155,2.004787,0.465233,0.544894,0.183051,0.162961,0.142429,0.077498,686.622488,1560.256377,1937.211452
min,1.000000,1.000000,0.000000,1.000000,0.000000,0.000000,0.000000,1.000000,0.059130,0.079070,0.000000,0.022392,2.000000,20.000000,22.000000
25%,183.500000,2.000000,0.000000,4.000000,0.000000,1.000000,0.000000,1.000000,0.337083,0.337842,0.520000,0.134950,315.500000,2497.000000,3152.000000
50%,366.000000,3.000000,1.000000,7.000000,0.000000,3.000000,1.000000,1.000000,0.498333,0.486733,0.626667,0.180975,713.000000,3662.000000,4548.000000
75%,548.500000,3.000000,1.000000,10.000000,0.000000,5.000000,1.000000,2.000000,0.655417,0.608602,0.730209,0.233214,1096.000000,4776.500000,5956.000000
max,731.000000,4.000000,1.000000,12.000000,1.000000,6.000000,1.000000,3.000000,0.861667,0.840896,0.972500,0.507463,3410.000000,6946.000000,8714.000000

- Kolom `dteday` yang seharusnya berisi tanggal malah terbaca sebagai tipe data `object`
- Nilai minimum `humidity` (kelembapan) adalah 0, yang mungkin mengindikasikan adanya data yang tidak valid.

#### Menilai tabel `hour_df`

In [12]:
hour_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 17379 entries, 0 to 17378
Data columns (total 17 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   instant     17379 non-null  int64
 1   dteday      17379 non-null  object
 2   season      17379 non-null  int64
 3   yr          17379 non-null  int64
 4   mnth        17379 non-null  int64
 5   hr          17379 non-null  int64
 6   holiday     17379 non-null  int64
 7   weekday     17379 non-null  int64
 8   workingday  17379 non-null  int64
 9   weathersit  17379 non-null  int64
 10  temp        17379 non-null  float64
 11  atemp       17379 non-null  float64
 12  hum         17379 non-null  float64
 13  windspeed   17379 non-null  float64
 14  casual      17379 non-null  int64
 15  registered  17379 non-null  int64
 16  cnt         17379 non-null  int64
dtypes: float64(4), int64(12), object(1)
memory usage: 2.3+ MB

In [14]:
hour_df.describe()

,instant,season,yr,mnth,hr,holiday,weekday,workingday,weathersit,temp,atemp,hum,windspeed,casual,registered,cnt
count,17379.0000,17379.000000,17379.000000,17379.000000,17379.000000,17379.000000,17379.000000,17379.000000,17379.000000,17379.000000,17379.000000,17379.000000,17379.000000,17379.000000,17379.000000,17379.000000
mean,8690.0000,2.501640,0.502561,6.537775,11.546752,0.028770,3.003683,0.682721,1.425283,0.496987,0.475775,0.627229,0.190098,35.676218,153.786869,189.463088
std,5017.0295,1.106918,0.500008,3.438776,6.914405,0.167165,2.005771,0.465431,0.639357,0.192556,0.171850,0.192930,0.122340,49.305030,151.357286,181.387599
min,1.0000,1.000000,0.000000,1.000000,0.000000,0.000000,0.000000,0.000000,1.000000,0.020000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000
25%,4345.5000,2.000000,0.000000,4.000000,6.000000,0.000000,1.000000,0.000000,1.000000,0.340000,0.333300,0.480000,0.104500,4.000000,34.000000,40.000000
50%,8690.0000,3.000000,1.000000,7.000000,12.000000,0.000000,3.000000,1.000000,1.000000,0.500000,0.484800,0.630000,0.194000,17.000000,115.000000,142.000000
75%,13034.5000,3.000000,1.000000,10.000000,18.000000,0.000000,5.000000,1.000000,2.000000,0.660000,0.621200,0.780000,0.253700,48.000000,220.000000,281.000000
max,17379.0000,4.000000,1.000000,12.000000,23.000000,1.000000,6.000000,1.000000,4.000000,1.000000,1.000000,1.000000,0.850700,367.000000,886.000000,977.000000

- Kolom `dteday` yang seharusnya berisi tanggal malah terbaca sebagai tipe data `object`
- Nilai minimum `humidity` (kelembapan) dan `windspeed` adalah 0, yang mungkin mengindikasikan adanya data yang tidak valid.

**Insight:**
- (`day_df`) Kolom `dteday` yang seharusnya berisi tanggal malah terbaca sebagai tipe data object
- (`day_df`) Nilai minimum `humidity` (kelembapan) adalah 0, yang mungkin mengindikasikan adanya data yang tidak valid.
- (`hour_df`) Kolom `dteday` yang seharusnya berisi tanggal malah terbaca sebagai tipe data object
- (`hour_df`) Nilai minimum `humidity` (kelembapan) dan `windspeed` adalah 0, yang mungkin mengindikasikan adanya data yang tidak valid.

### Cleaning Data

#### Membersihkan tabel `day_df`

##### Memperbaiki tipe data

In [15]:
day_df['dteday'] = pd.to_datetime(day_df['dteday'])

In [16]:
day_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 731 entries, 0 to 730
Data columns (total 16 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   instant     731 non-null    int64
 1   dteday      731 non-null    datetime64[ns]
 2   season      731 non-null    int64
 3   yr          731 non-null    int64
 4   mnth        731 non-null    int64
 5   holiday     731 non-null    int64
 6   weekday     731 non-null    int64
 7   workingday  731 non-null    int64
 8   weathersit  731 non-null    int64
 9   temp        731 non-null    float64
 10  atemp       731 non-null    float64
 11  hum         731 non-null    float64
 12  windspeed   731 non-null    float64
 13  casual      731 non-null    int64
 14  registered  731 non-null    int64
 15  cnt         731 non-null    int64
dtypes: datetime64[ns](1), float64(4), int64(11)
memory usage: 91.5 KB

##### Inaccurate Value

In [18]:
day_df[day_df.hum == day_df.hum.min()]

,instant,dteday,season,yr,mnth,holiday,weekday,workingday,weathersit,temp,atemp,hum,windspeed,casual,registered,cnt
68,69,2011-03-10,1,0,3,0,4,1,3,0.389091,0.385668,0.0,0.261877,46,577,623

In [21]:
day_df[day_df['hum'] == 0][['dteday', 'hum', 'cnt']]

       dteday  hum  cnt
68 2011-03-10  0.0  623

In [22]:
# Hapus baris yang memiliki nilai 0 pada kolom hum
day_df = day_df[day_df['hum'] != 0]

Menghapus baris tersebut karena hanya ada satu data yang memiliki nilai 0 pada kolom hum, dan data tersebut tidak terlalu penting.

In [23]:
day_df[day_df.hum == day_df.hum.min()]

,instant,dteday,season,yr,mnth,holiday,weekday,workingday,weathersit,temp,atemp,hum,windspeed,casual,registered,cnt
49,50,2011-02-19,1,0,2,0,6,0,1,0.399167,0.391404,0.187917,0.507463,532,1103,1635

#### Memperbaiki tabel `hour_df`

##### Memperbaiki tipe data

In [24]:
hour_df['dteday'] = pd.to_datetime(hour_df['dteday'])

In [25]:
hour_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 17379 entries, 0 to 17378
Data columns (total 17 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   instant     17379 non-null  int64
 1   dteday      17379 non-null  datetime64[ns]
 2   season      17379 non-null  int64
 3   yr          17379 non-null  int64
 4   mnth        17379 non-null  int64
 5   hr          17379 non-null  int64
 6   holiday     17379 non-null  int64
 7   weekday     17379 non-null  int64
 8   workingday  17379 non-null  int64
 9   weathersit  17379 non-null  int64
 10  temp        17379 non-null  float64
 11  atemp       17379 non-null  float64
 12  hum         17379 non-null  float64
 13  windspeed   17379 non-null  float64
 14  casual      17379 non-null  int64
 15  registered  17379 non-null  int64
 16  cnt         17379 non-null  int64
dtypes: datetime64[ns](1), float64(4), int64(12)
memory usage: 2.3 MB

##### Inaccurate Value

In [27]:
hour_df.min()

instant                         1
dteday        2011-01-01 00:00:00
season                          1
yr                              0
mnth                            1
hr                              0
holiday                         0
weekday                         0
workingday                      0
weathersit                      1
temp                         0.02
atemp                         0.0
hum                           0.0
windspeed                     0.0
casual                          0
registered                      0
cnt                             1
dtype: object

In [29]:
hour_df[hour_df['hum'] == 0][['dteday', 'hum', 'windspeed','cnt']]

         dteday  hum  windspeed  cnt
1551 2011-03-10  0.0     0.2537    3
1552 2011-03-10  0.0     0.2537    2
1553 2011-03-10  0.0     0.2537    1
1554 2011-03-10  0.0     0.1940    3
1555 2011-03-10  0.0     0.3284   12
1556 2011-03-10  0.0     0.2239   37
1557 2011-03-10  0.0     0.2836   44
1558 2011-03-10  0.0     0.2239   24
1559 2011-03-10  0.0     0.1642   17
1560 2011-03-10  0.0     0.2537   11
1561 2011-03-10  0.0     0.2239   34
1562 2011-03-10  0.0     0.2239   12
1563 2011-03-10  0.0     0.2985   12
1564 2011-03-10  0.0     0.2239   14
1565 2011-03-10  0.0     0.2537   21
1566 2011-03-10  0.0     0.3881  111
1567 2011-03-10  0.0     0.3582   82
1568 2011-03-10  0.0     0.5821   56
1569 2011-03-10  0.0     0.3284   38
1570 2011-03-10  0.0     0.2239   28
1571 2011-03-10  0.0     0.1343   34
1572 2011-03-10  0.0     0.0896   27

In [30]:
hour_df[hour_df['windspeed'] == 0][['dteday', 'hum', 'windspeed','cnt']]

          dteday   hum  windspeed  cnt
0     2011-01-01  0.81        0.0   16
1     2011-01-01  0.80        0.0   40
2     2011-01-01  0.80        0.0   32
3     2011-01-01  0.75        0.0   13
4     2011-01-01  0.75        0.0    1
...          ...   ...        ...  ...
17319 2012-12-29  1.00        0.0   48
17320 2012-12-29  1.00        0.0   84
17322 2012-12-29  0.87        0.0  129
17330 2012-12-29  0.60        0.0   32
17350 2012-12-30  0.61        0.0  102

[2180 rows x 4 columns]

In [40]:
# Imputasi dengan rata-rata harian untuk humidity
mean_hum_10Mar2011 = hour_df[(hour_df['dteday'] == '2011-03-10') & (hour_df['hum'] != 0)]['hum'].mean()
hour_df.loc[(hour_df['dteday'] == '2011-03-10') & (hour_df['hum'] == 0), 'hum'] = mean_hum_10Mar2011

In [39]:
hour_df[hour_df.hum == hour_df.hum.min()]

,instant,dteday,season,yr,mnth,hr,holiday,weekday,workingday,weathersit,temp,atemp,hum,windspeed,casual,registered,cnt
1109,1110,2011-02-18,1,0,2,23,0,5,1,1.0,0.52,0.5,0.08,0.2836,16,61,77

In [ ]:
from sklearn.neighbors import KNeighborsRegressor

# Buat model KNN Regression
model = KNeighborsRegressor(n_neighbors=5)

# Pisahkan data dengan dan tanpa nilai windspeed 0
data_with_0 = hour_df[hour_df['windspeed'] == 0]
data_without_0 = hour_df[hour_df['windspeed'] != 0]

# Latih model dengan data tanpa nilai 0
model.fit(data_without_0[['temp', 'hum', 'weathersit']], data_without_0['windspeed'])

# Prediksi nilai windspeed untuk data dengan nilai 0
predicted_windspeed = model.predict(data_with_0[['temp', 'hum', 'weathersit']])

# Ganti nilai 0 dengan nilai yang diprediksi
hour_df.loc[hour_df['windspeed'] == 0, 'windspeed'] = predicted_windspeed

Mengganti inaccurate value pada kolom `windspeed` dengan model KKN Regression

In [52]:
hour_df[hour_df.windspeed == hour_df.windspeed.min()]

,instant,dteday,season,yr,mnth,hr,holiday,weekday,workingday,weathersit,temp,atemp,hum,windspeed,casual,registered,cnt
5,6,2011-01-01,1,0,1,5,0,6,0,2.0,0.24,0.2576,0.75,0.0896,0,1,1
72,73,2011-01-04,1,0,1,4,0,2,1,1.0,0.14,0.1818,0.63,0.0896,0,2,2
90,91,2011-01-04,1,0,1,22,0,2,1,1.0,0.22,0.2576,0.64,0.0896,1,34,35
91,92,2011-01-04,1,0,1,23,0,2,1,1.0,0.20,0.2273,0.69,0.0896,2,9,11
93,94,2011-01-05,1,0,1,1,0,3,1,1.0,0.16,0.1970,0.74,0.0896,0,6,6
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
17311,17312,2012-12-29,1,1,12,4,0,6,0,2.0,0.24,0.2424,0.75,0.0896,0,3,3
17312,17313,2012-12-29,1,1,12,5,0,6,0,2.0,0.24,0.2424,0.75,0.0896,0,3,3
17318,17319,2012-12-29,1,1,12,11,0,6,0,3.0,0.20,0.2424,0.93,0.0896,7,38,45
17321,17322,2012-12-29,1,1,12,14,0,6,0,2.0,0.24,0.2424,0.87,0.0896,10,88,98
17372,17373,2012-12-31,1,1,12,17,0,1,1,2.0,0.26,0.2879,0.48,0.0896,14,150,164

**Insight:**
- (`day_df`) Mengubah tipe data `dteday` menjadi datetime untuk analisis data yang berhubungan dengan waktu.
- (`day_df`) Inaccurate value pada kolom `hum` dihapus
- (`hour_df`) Mengubah tipe data `dteday` menjadi datetime untuk analisis data yang berhubungan dengan waktu.
- (`hour_df`) Terdapat inaccurate value pada kolom hum dan windspeed menggunakan metode Interpolasi pada kolom hum dan menggunakan dengan model KKN Regression

## Exploratory Data Analysis (EDA)

### Explore ...

**Insight:**
- xxx
- xxx

## Visualization & Explanatory Analysis

### Pertanyaan 1:

### Pertanyaan 2:

**Insight:**
- xxx
- xxx

## Analisis Lanjutan (Opsional)

## Conclusion

- Conclution pertanyaan 1
- Conclution pertanyaan 2